gevent==1.2.2
greenlet==0.4.12
memory-profiler==0.50.0
oauthlib==2.0.6
peewee==2.10.2
psutil==5.4.2
pudb==2017.1.4
Pygments==2.2.0
rauth==0.7.3
requests==2.12.5
requests-oauthlib==0.8.0
smugpy==0.3.1
Unidecode==0.4.21
urwid==1.3.1